<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(300, 200) %>
      <p>タイトル：<%= post.title %></p>
      <p>本文：<%= post.body %></p>
      <p>ユーザーネーム：<%= post.user.name %></p>
    <% end %>
  </div>
<% end %>