<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-md-8 mx-auto">
      <div class="card border-0 shadow-lg rounded-4 overflow-hidden m-5">
        
        <%= image_tag @post.get_image(600, 600), class: "img-fluid w-100 object-fit-cover" %>

        
        <div class="card-body">
          
          <div class="d-flex align-items-center mb-3">
              <%= image_tag @post.user.get_profile_image(50, 50), 
              class: "rounded-circle", 
              style: "object-fit: cover;" %>
        
              <span class="ms-8 text-muted fw-semibold fs-6"><%= @post.user.name %></span>
          </div>

        
          <h3 class="fw-bold mb-3 border-bottom pb-2"><%= @post.title %></h3>

          
          <p class="fs-5" style="line-height: 1.8;"><%= simple_format(@post.body) %></p>

          <% if @post.user == current_user %>
            <div class="d-flex justify-content-end gap-3 mt-4">
              <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-primary px-4" %>
              <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger px-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
