<div>
  <%= image_tag @post.get_image(500, 500) %>
  <p>＜タイトル＞<%= @post.title %>
  <p>＜本文＞<%= @post.body %>
  <p>＜ユーザーネーム＞<%= @post.user.name %>
  
  <% if @post.user == current_user %>
    <br>
    <%= link_to "編集", edit_post_path(@post.id) %>
    <br>
    <%= link_to "削除", post_path(@post.id), method: :delete %>
  <% end %>
</div>