<% if @records.any? %>
  <div class="row">
    <% @records.each do |record| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <% if @model == 'user' %>
            <%= link_to user_path(record), class: "text-decoration-none text-dark" do %>
              <%= image_tag record.get_profile_image(500, 500), class: "card-img-top", alt: "User Image" %>
              <div class="card-body">
                <h5 class="card-title"><%= record.name %>
              </div>
            <% end %>
          <% else %>
            <%= link_to post_path(record), class: "text-decoration-none text-dark" do %>
              <div class="card-body">
                <h5 class="card-title"><%= record.title %></h5>
                <p class="card-text"><%= truncate(record.body, length: 70) %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results found for "<strong><%= params[:content] %>".</p>
  <p>Please check the spelling or try different keywords.</p>
<% end %>