<div>
  <h2>Edit My Profile</h2>
  <%= form_with model: @user do |user| %>
    <%= user.file_field :profile_image, placeholder: "Profile Image", accept: "image/*" %>
    <h6><%= user.label :name %></h6>
    <%= user.text_field :name, autofocus: true, placeholder:"Name" %>
    <h6><%= user.label :email %></h6>
    <%= user.text_field :email, autofocus: true, placeholder:"E-mail" %>
    <%= user.submit "Save Changes" %>
  <% end %>
</div>